@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}

/* Cabeçaalho */

header {
    text-align: center;
    margin: 1.5em 0;
}

body {
    background-color: #3A3335;
    color: white;
}

/* Botões de inicio do jogo */

#botoes {
    text-align: center;
    margin: 2em 0;
}

#botoes input {
    width: 15em;
    padding: 1em;
    font-size: .9em;
    margin: 1em 0.5em;
    background-color: #36c8ed;
    cursor: pointer;
    transition: .5s;
    border-radius: 30px;
}

#botoes input:hover {
    scale: 1.1;
}

.jogador-selecionado {
    border: 2px solid #EE6C4D;
    border-radius: 20px;
    padding: 1.5em;
}

.botao-desabilitado {
    pointer-events: none;;
    opacity: 0.6;
}

/* Layout */

.jogo {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    justify-items: center;
    align-items: center;
    margin: 3em 0;
}

.jogo span {
    font-size: 2em;
}

/* Tabuleiro */

#tabuleiro {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0 calc((100% - 18em)/2);
}

.quadrados {
    width: 6em;
    height: 6em;
    border: 1px solid #B99170;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quadrado-marcacao {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 3rem !important;
    line-height: 2em;
}

.azul {
    color: #63ADF2;
}

.verde {
    color: #83B692;
}

.vitoria {
    background-color: rgb(127, 255, 0);
}

.tabuleiro-desabilitado {
    pointer-events: none;
}

/* Rodapé */

footer {
    text-align: center;
    padding: 1em 0;
}